@use'./hamburger.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;




.link{
  @apply uppercase text-fontWhite font-primary text-sm mt-1 hover:text-fontThird duration-500
}


.menu-box::after{
    content: '';
    border: 1px solid #b08353;
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px;
   
  }