.modal {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;

    @apply bg-secondary-400 gap-6;
}

// 

 .link {
    @apply text-fontWhite font-primary text-6xl lg:text-7xl uppercase opacity-70 hover:opacity-100 transition-opacity;
} 

.link,
.lang {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;

        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
        @apply bg-secondary-400;
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.menu-open {
    transition: ease, transform .5s ease-in-out;
    transform: translateY(0);
}

.menu-close {
    transition: ease, transform 1s ease-in-out;
    transform: translateY(-100%);
}